/* Container settings */
.container {
    display: flex;
    justify-content: space-between; /* Distributes space between children evenly */
    align-items: center; /* Centers children vertically */
    padding: 10px; /* Padding around the container */

}

/* Content settings */
.content {
    flex: 1; /* Allows the text content to grow and push the image */
    padding-right: 20px; /* Adds right padding to push the image slightly right from center */
}

/* Image settings */
.my-image {
    flex-grow: 0; /* Prevents the image from growing */
    width: 40%; /* Image takes up 40% of the container width */
    max-width: 300px; /* Ensures the image is not too large */
    height: auto; /* Maintains the image aspect ratio */
    z-index: 2; /* Ensures the image is above other elements if overlapping occurs */
    margin-top: 10vw;
    border-radius: 100px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stacks children vertically on smaller screens */
        align-items: center; /* Centers children horizontally */
    }

    .content {
        padding-right: 80%; /* Removes padding on smaller screens */
    }

    .my-image {
        width: 80%; /* Allows the image to take more space on smaller screens */
        margin-top: 20px; /* Adds space between the text and image */
    }
}


/* For tablets (screens between 480px and 768px) */
@media (max-width: 768px) and (min-width: 481px) {
    .container {
        flex-direction: column; /* Stack the elements vertically */
        align-items: center; /* Ensure content is centered */
        padding: 5px 10px; /* Adjust padding to fit tablet screens */
    }

    .content {
        width: 100%; /* Full width to utilize screen space */
        padding-right: 0; /* Remove right padding as it is now unnecessary */
        text-align: center; /* Center-align the text for better aesthetics */
    }

    .my-image {
        width: 60%; /* Adjust image width for balance between text and image */
        margin-top: 15px; /* Sufficient space between text and image */
        margin-left: 0; /* Align image centrally by removing left margin */
    }
}

/* For mobile phones (screens less than 480px wide) */
/* For mobile phones (screens less than 480px wide) */
@media (max-width: 480px) {
    .my-image {
        width: 30%; /* Further reduce the image size to make it less dominating */
        height: auto; /* Maintain aspect ratio */
        margin-top: 10px; /* Sufficient spacing above the image */
        margin-bottom: 10px; /* Adds space below the image for separation */
        margin-left: auto; /* Center the image horizontally */
        margin-right: auto; /* Center the image horizontally */
        border-radius: 20px; /* Soften the corners with a smaller radius */
    }
}
