.logo-container {
    position: fixed;
    top: 1vh;
    right: 3vw;
    display: flex; /* This will align both images in a row */
    align-items: center; /* Center the logos vertically */

}

.linkedin-logo, .github-logo {
    height: auto;
    display: block; /* Removes extra space below the image */
    margin-right: 2vw; /* Adds space between the logos */

}

.linkedin-logo {
    width: 50px; /* Adjust size as needed */
}

.github-logo {
    width: 40px; /* Adjust size as needed */
}

.resume-logo{
    width: 4vw;
    max-width: 40px;

}





@media (max-width: 486px) {

    .logo-container {
        position: fixed;
        top: 1vh;
        right: 5vw;
        display: flex; /* This will align both images in a row */
        align-items: center; /* Center the logos vertically */
        z-index: 100; 



    }

    .linkedin-logo, .github-logo {
        height: auto;
        display: block; /* Removes extra space below the image */
        margin-right: 15px; /* Adds space between the logos */
    
    }



    .linkedin-logo {
        width: 35px; /* Adjust size as needed */
        margin-left: 10px; /* Space from the left edge */
    }
    .github-logo {

        width: 20px
    }

}

@media (min-width: 487px) and (max-width: 7px) {

    .logo-container {
        position: fixed;
        top: 1vh;
        right: 5vw;
        display: flex; /* This will align both images in a row */
        align-items: center; /* Center the logos vertically */
        z-index: 100; 



    }

    .linkedin-logo, .github-logo {
        height: auto;
        display: block; /* Removes extra space below the image */
        margin-right: 15px; /* Adds space between the logos */
    
    }


    .github-logo {

        width: 20px
    }


}